<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listExercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="6"
        size-md="4"
        *ngFor="let exercise of exercises"
      >
        <app-card-with-image
          [exercise]="exercise"
          (click)="goToExerciseDetail(exercise._id)"
        ></app-card-with-image>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
