<ion-content [fullscreen]="true">
  <ion-card class="min-h-[90%] flex flex-col items-center justify-center">
    <img
      alt="Silhouette of mountains"
      src="../../../assets/background/background10.svg"
    />
    <ion-card-header>
      <ion-card-subtitle class="mt-1"
        >Empieza tu entrenamiento ahora</ion-card-subtitle
      >
      <ion-card-title>Your Training App</ion-card-title>
    </ion-card-header>

    <ion-card-content class="w-full">
      <form>
        <ion-item>
          <ion-input
            label="Email"
            labelPlacement="floating"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item class="mt-1">
          <ion-input
            label="Contraseña"
            labelPlacement="floating"
            type="password"
          ></ion-input>
        </ion-item>
        <ion-button class="mt-5" type="submit" color="primary" expand="full"
          >Login</ion-button
        >
        <ion-text
          >Si no tienes cuenta ponte en contacto con el centro
          deportivo</ion-text
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
